<!DOCTYPE html>
<html>
<head>
	<title>Iris Classifier</title>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script type="text/javascript">

       $(function() {
    $('#predict').click(function() {
        event.preventDefault();
        var form_data = new FormData($('#myform')[0]);
        console.log(form_data);
        $.ajax({
            type: 'POST',
            url: '/predict',
            data: form_data,
            contentType: false,
            processData: false,
        }).done(function(data, textStatus, jqXHR){
            
            $('#result').text(data);



        }).fail(function(data){
            alert('error!');
        });
    });
}); 

    
</script>
</head>
<body>

	<h1><CENTER>Iris Classifier</CENTER></h1>
	<form id="myform" method="POST">
		<input type="text" name="sl" placeholder="Enter Sepal Length in cm"><br><br>
		<input type="text" name="sw" placeholder="Enter Sepal Width in cm"><br><br>
		<input type="text" name="pl" placeholder="Enter Petal Length in cm"><br><br>
		<input type="text" name="pw" placeholder="Enter Petal Width in cm"><br><br>

	</form>
	<button id="predict">Predict</button>
	<h2 id="result"></h2>


</body>
</html>